services:
  - type: web
    name: back
    runtime: node
    rootDir: packages/server
    buildCommand: pnpm -F server build
    startCommand: pnpm -F server start

  - type: web
    name: front
    runtime: static
    rootDir: packages/client
    buildCommand: pnpm -F client build
    staticPublishPath: packages/client/dist
