@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-bold {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.quicksand-normal {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

main {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(221, 221, 221) 10%,
    rgb(190, 190, 190) 20%,
    rgb(109, 109, 109) 50%,
    rgb(73, 73, 73) 100%
  );
  height: 100vh;
  width: 100vw;
}

.logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75%;
}
