@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button_container {
  width: 100%;
  padding: 5px;
  border: solid black;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  & :hover {
    cursor: pointer;
  }
}

p {
  font-weight: 500;
  font-size: 18px;
}
