@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button_container {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  & :hover {
    cursor: pointer;
  }
}

p {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.button_icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 680px) {
  p {
    font-size: 12px;
  }

  .button_icon {
    width: 15px;
    height: 15px;
  }
}
