iframe {
  border-radius: 10px;
  border: solid black;
  border-width: 4px 4px 8px 4px;
  width: 640px;
  height: 360px;

  /* for user can't interact the yt palyer */
  z-index: -1;
}

.player_button_container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.player_volume_slider {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 7.5px;
  background-color: white;

  border-radius: 10px;
  border: solid black;
  border-width: 4px 4px 8px 4px;
}
