iframe {
  border: 2px solid black;
  border-radius: 5px;

  /* Weird sizing but seem's no choice react-player is weird */
  width: 99.2%;
  height: 99%;

  /* for user can't interact the yt palyer */
  z-index: -1;
}

.player_button_container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.player_volume_slider {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 7.5px;
  background-color: white;

  border: 2px solid black;
  border-radius: 5px;
}
